<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <!--
      Persistence and transaction management
    -->

    <!-- Looks for annotations like @Repository to configure exception handling via Spring -->
    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>

    <!-- This is where the entityManagerFactory comes from. As we use JPA, the HibernateJpaDialact is activated. -->
    <bean id="entityManagerFactory"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="jpaDialect">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaDialect"/>
        </property>
        <property name="persistenceUnitName" value="pollPersistenceUnit"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <!-- Allows the use of @Transactional to configure transactions -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!-- Allows the use of @Repository, @Service, @Component to mark Spring components -->
    <context:component-scan base-package="de.uniluebeck.itm.ep0.poll"/>
    <context:annotation-config/>

    <!-- Expose the poll service via RMI -->
    <!--bean id="rmiServiceExporter" class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="PollPersistenceService"/>
        <property name="service" ref="pollService"/>
        <property name="serviceInterface"
                  value="de.uniluebeck.itm.ep0.poll.service.PollService"/>
        <property name="registryPort" value="1199"/>
    </bean-->

    <!-- Hessian exporter for the PollService -->
    <!-- Hessian is a slim binary HTTP remoting protocol -->
    <bean name="pollExporter" class="org.springframework.remoting.caucho.HessianServiceExporter">
        <property name="service" ref="pollService"/>
        <property name="serviceInterface" value="de.uniluebeck.itm.ep0.poll.service.PollService"/>
    </bean> 
</beans>